<!DOCTYPE html>
<html>

<head>
    <%- include(HOSTPATH + '/views/partials/_head' ) %>
</head>

<body>
    <%- include(HOSTPATH + '/views/partials/_staff-sidebar' ) %>
        <div id="sectionSidePanel" class="sectionSidePanel"></div>
        <script>
            function editperms(pcaller) {
                var idtoedit = pcaller.dataset.userid;
                var newcanvieworders = prompt("canvieworders (true or false): ");
                if (newcanvieworders != "true") newcanvieworders = false;  
                var newcaneditmenu = prompt("caneditmenu (true or false): ");
                if (newcaneditmenu != "true") newcaneditmenu = false;
                var newcaneditperms = prompt("caneditperms (true or false): ");
                if (newcaneditperms != "true") newcaneditperms = false;

                var endpoint = `/staff/admin?userid=${idtoedit}&caneditmenu=${newcaneditmenu}&canvieworders=${newcanvieworders}&caneditperms=${newcaneditperms}`;
                fetch(endpoint, {
                    method: 'POST'
                })
                    .then((result) => {
                        alert("Success")
                    })
                    .catch((err) => {
                        console.warn(err);
                    })
            }
        </script>
        <div id="content" class="content">
            <%- include(HOSTPATH + '/views/partials/_staff-topnav' , {activeItem: "none" }) %>
            <br>
            <h1>Admin Permission Editing</h1>
            <p>Click on a user to edit their permssions. Search for a specific email with Ctrl/Cmd+F</p>
            <% for (var i = 0; i < users.length ; i++) { %>
                <p class="bubble" data-userid="<%= users[i].id %>" onclick="editperms(this)">
                     user email: <%= users[i].email %> <br>
                     canvieworders: <%= users[i].permissions.canvieworders %> <br>
                     caneditmenu: <%= users[i].permissions.caneditmenu %> <br>
                     caneditperms: <%= users[i].permissions.caneditperms %>  <br> <br>
                </p>
            <% } %>
        </div>
</body>